<main class="index">
	<section>
		<header>
			<h5>Task Details</h5>

			<% if authorized_to_task? @task %>
				<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-outline-primary' %>
			<% end %>
		</header>

		<h5><b>Title:</b>	<%= @task.title %></h5>
		<p><b>Description:</b>	<%= @task.description %></p>
		<p><b>Status:</b> <%= @task.status %> </p>
		<p><b>Priority:</b> <%= @task.priority %> </p>
		<p>
			<b>Assigned to:</b> <%= @task.assigne&.name %>
		</p>

		<% if authorized_to_task? @task %>
			<div class="actions">
				<%= button_to 'Assign to me', task_path(@task), method: :put, params: {task: { assigne_id: current_user.id } }, class: 'btn link-primary' %>

				<%= button_to 'Delete', task_path(@task), method: :delete, class: 'btn btn-outline-danger' %>
			</div>
		<% end %>
	</section>

	<section>
		<header>
			<h5>Project</h5>

			<%= link_to 'Visit Project', project_path(@task.project), class: 'btn btn-outline-primary' %>
		</header>

		<h5><b>Name:</b>	<%= @task.project.name %></h5>
		<p><b>Description:</b>	<%= @task.project.description %></p>
	</section>
</main>